# COGS 108 - Data Checkpoint

# Names

- Bridget Egan 
- Dillan Merchant
- Jennifer Hang
- Sam Zakeri
- Connie Chang

<a id='research_question'></a>
# Research Question

**We would like to know how news headline sentiment changes based on the political leaning of the news sources Breitbart, CNN, and NPR. Using both AllSides and MediaBiasFactCheck Breitbart was evaluated as the most right-leaning news source, CNN was evaluated as the most left-leaning news source, and NPR was evaluated as the most politically-neutral news source [1, 2, 3, 4, 5, 6, 7]. We hypothesize that the two more politically polar news sources, Breitbart and CNN, will have more polar sentiment, and the more neutral news source, NPR, will be more neutral in sentiment.**
- [1] https://www.allsides.com/news-source/cnn-media-bias
- [2] https://mediabiasfactcheck.com/cnn/
- [3] https://mediabiasfactcheck.com/npr/
- [4] https://www.allsides.com/news-source/npr-media-bias
- [5] https://www.allsides.com/news-source/breitbart
- [6] https://mediabiasfactcheck.com/breitbart/
- [7] https://www.adfontesmedia.com/static-mbc/

# Dataset(s)

All the news (143,000 articles from 15 American publications)
- Link to the dataset: https://www.kaggle.com/snapcrack/all-the-news
- Number of observations: Breitbart (23781), CNN (11488), NPR (11992)
- 1-2 sentences describing each dataset.

# Setup

In [1]:
import numpy as np
import pandas as pd

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
news1 = pd.read_csv('csv_files/articles1.csv')
news2 = pd.read_csv('csv_files/articles2.csv')
news3 = pd.read_csv('csv_files/articles3.csv')


print(news1.shape)
print(news2.shape)
print(news3.shape)

(50000, 10)
(49999, 10)
(42571, 10)

In [3]:
# combine three dataframes into one
news = news1.append(news2).append(news3)
news.shape

(142570, 10)

In [4]:
news.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [5]:
# check # of headlines for each source
news['publication'].value_counts()

Breitbart              23781
New York Post          17493
NPR                    11992
CNN                    11488
Washington Post        11114
Reuters                10710
Guardian                8681
New York Times          7803
Atlantic                7179
Business Insider        6757
National Review         6203
Talking Points Memo     5214
Vox                     4947
Buzzfeed News           4854
Fox News                4354
Name: publication, dtype: int64